{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<article{{ attributes }}>
    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
          {% if url %}
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          {% else %}
            {{ label }}
          {% endif %}
        </h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}
</article>
